# ignore Apple cruft
.DS_Store
# ignore vscode cruft
*.code-workspace
# ignore the node modules
node_modules/

# ignore the output of the line counter extension
.VSCodeCounter

# ignore lots of stuff for local customizations
toc.html

# ignore the initproofs.js file for Lode
initproofs.js

# ignore the following folders from math299
/mystuff
/math299
/pima
/cicm
/learn/proofs/embed
studentfiles299
