/*  
 * CSS for lurch.plus
 *
 *  It overrides and extends the css from monks.scranton.edu.
 */

/* import the Lurch editor fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Define site CSS variables */
:root {
  /* standard background color */
  --page-background-color:white;
  /* standard font color */
  --black-font:#333;
  /* theme blue */
  --theme-color: #428bca;
  /* accent blue */
  --accent-color: #025d8c; 
  /* nav link color */
  --nav-link-color: #5DA9E9;
  /* submenu header color */
  --nav-plain-color: #ddd;
  /* note label font color */
  --note-label-color: #c71585;
  /* the gap after the content blocks p, ol, ul, etc. */
  --block-skip: 1rem;

  /* Lurch editor syntax theme variables */

  /* hovered atom background color */
  --hover-color: #bbd6fb; /* rgb(187,214,251); #B9D9F2*/
  /* semantic hovered atom background color */
  --semantic-hover-color: #f2f8ff;/* blues:#f0f7ff; #ebf3ff; yellows: #fff9dc;  #fffce9; */
  /* selected atom backround color */
  --selected-color: #a1c6f5;
  /* borders and titles of shells color */
  --border-color: #b4d7ff;
  /* marginal annotation of shell types */
  --margin-color:  #b4d7ff; /* transparent; */
  /* left border of shells in semantic view */
  --left-border-color: #b4d7ff;
  /* green checkmark color */
  --check-color: #4caf50;
  /* question mark feedback icon color */
  --questionmark-color: #d8b400; /* or white if background used */
  /* question mark feedback icon background color */
  --questionmark-background-color: chocolate;
  /* red X feedback icon color */
  --x-color: red;
  /* exclamation point error feedback icon color */
  --error-color: red;
  /* default shell background color */
  --atom-color: white;
  /* rule shell background color */
  --rule-color: #e7f3fd;
  /* premise shell background color */
  --premise-color: #fff6e9;
  /* theorem shell background color */
  --theorem-color: #f5f5f5;
  /* recall shell background color */
  --recall-color: #efe9f1;
  /* inline semantic math expression font color */
  --math-color: #cd853f; /* turquoise #079aa3 golds #cd853f or #D8833B; */
  /* inline semantic math expression font color */
  --code-bg-color: #ecf0f1; /* matches TinyMCE light gray */
  /* Soft blue for lesson background */
  --lesson-bg-color: #f4faff; 
  /* Subtle gray for sub-items */
  --subitem-color: #666; 
  /* Soft shadow */
  --shadow-color: rgba(0, 0, 0, 0.1); 
  /* base font size */
  --base-font-size: 11pt;
  /* subproof indentation */
  --indentation: 0.75rem;
  /* paragraph top margins inside of unindented shells */
  --p-gap: 0.75rem;
  /* top margin for shells inside of other shells */
  --nested-mar: 0.25rem;
  /* top margin for shells inside of other shells */
  --nested-pad: 0.25rem;
  /* paragraph top margins inside of unindented shells */
  --line-height: 1.2 /* 1.15; */
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}

/* 
 * The body has a left nav and a right column containing the content and the
 * footer 
*/
body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

/* the left nav column */
#leftnav {
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  top: 0;
  left: 0;
  width: 250px;
  /* word-wrap: break-word; */
  height: 100%;
  background-color: #101B27;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: hidden;
  font-size: smaller;
}

#leftnav ul {
  margin-top: 1rem;
  margin-bottom: 20px;
  border-top: #bbd6fb 1px solid;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: #bbd6fb 1px solid;
}

#leftnav ul ul {
  border: none;
  margin: 0;
  padding: 0;
}

#leftnav .has-submenu {
  display: inline-block;
  color: var(--nav-plain-color);
  padding: 5px 5px;
}

#leftnav ul.hidden {
    display: none;
}

/* allow the caret icon to be positioned absolutely relative to this */
#leftnav li:has(.has-submenu) {
  position: relative; 
}
/* The caret icon to toggle the submenus */
#leftnav .has-submenu i:not(.prefix) {
  position: absolute;
  left: -10px;
  top: 9px;
}

#leftnav li:not(:has(.has-submenu)) {
  padding: 5px 5px;
  border-radius: 1px;
}

#leftnav li:has(.has-submenu) li {
  display: flex;
  align-items: flex-start;
  /* display: block; */
  padding: 5px 5px 5px 15px;
  border-radius: 1px;
}

#leftnav li li a {
  display: block;
  max-width: 100%;     
  word-wrap: break-word;
  white-space: normal; 
}

#leftnav li li:before {
  content: '\2013';
  margin-right: 5px;
  flex-shrink: 0;
  color: var(--nav-link-color);
}

#leftnav a,
#leftnav a:visited {
  display: block;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--nav-link-color);
}

#leftnav li:not(:has(ul)):hover,
#leftnav li:not(:has(ul)):hover a {
  background-color: #bbd6fb;
  color: #0068c2;
}

#leftnav #contact {
  position: relative;
  margin-top: auto;
  /* margin-bottom: auto; */
  padding-top: 0;
}
  
#leftnav #contact a, #leftnav #contact a:visited {
  color: #CCC;
  line-height: 1.5;
  display: inline;
}

#leftnav #contact a,
#leftnav #contact a:visited
 {
  font-family: inherit; /* monospace, Courier; */
  color: var(--nav-plain-color);
  margin-top: 0;
  margin-left: auto;
  line-height: 1.5;
  transition: border-color 0.3s ease;
  /* font-size: smaller; */
}

#leftnav #contact div {
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  margin: 0;
  padding: 1px 5px;
  /* border-radius: 1px; */
}

#leftnav #contact a:hover {
  border-bottom:1px dotted var(--nav-plain-color);
  transition: border-color 0.3s ease;
}

/* add a little padding to the right of an icon in menus */
#leftnav .fa-solid, .fas {
  padding-right: 6px;
}

/* flex column for content-block and footer */
#wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: fit-content;
  max-width: 870px;
  margin-left: 250px;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 10px;
}

#wrap #content-block {
  flex: 1;
}

/* Utilities */
.greyback {
  background-color: #F2F2F2;
}

.quad {
  padding-right: 1rem;
}

.qquad {
  padding-right: 2rem;
}

#content-block code {
  font-size: 110%;
}

#content-block p:not(#content-block > p, .example-box > p:not(:last-child)), 
#content-block ol:not(#content-block > ol, .example-box > ol:not(:last-child)), 
#content-block ul:not(#content-block > ul, .example-box > ul:not(:last-child)), 
#content-block blockquote:not(#content-block > blockquote, .example-box > blockquote:not(:last-child)) {
  margin-bottom: 0;
}

#content-block .example-box > p:not(.noskip), 
#content-block .example-box > ol:not(.noskip),
#content-block .example-box > ul:not(.noskip),
#content-block .example-box > blockquote:not(.noskip) {
    margin-bottom: 1rem;
}

#content-block .blue-box code {
  background: #e7f3fd;
}

dl {
  margin-top: 0;
  margin-bottom: 22px;
}

dt {
  font-weight: normal;
  line-height: 1.42857143;
}

dt a {
  font-weight: bold;
  padding-right: 0.75rem;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  line-height: 1.42857143;
}

/* The page title box.  Usually has an h1 for the title and h2 for the subtitle. */
div.title-box {
  padding-bottom: 32px;
  margin-bottom: 2rem;
}  

#content-block div.title-box h1 {
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
}

#content-block div.title-box h2 {
  margin: 1rem 0 0 0;
  font-weight: normal;
}

#content-block div.flexrow {
  margin: 3rem 0 3rem 0;
}

div.subtitle-box {
  margin-bottom: 1.75rem;
}  

#content-block div.subtitle-box h2 {
  margin: 2rem 0 1rem 0;
}  

#content-block div.subtitle-box h4 {
  margin: 1rem 0;
}  

/* the h2 elements pointed to by the nav menu */
#content-block h2 {
  margin: 2em 0 1em;
  font-weight: bold;
}

#content-block h3 {
  margin: 1.5rem 0 1rem;
  font-weight: 400;
  font-size: 1.33rem;
}

#content-block .thmlist strong {
  padding-right: 0.75rem;
}

.haiku {
  text-align: center;
  width: 50%;
  margin: 40px auto;
}

.haiku p {
  font-style: italic;
  font-family: "Merriweather", Georgia, serif;
}

.haiku .attribution {
  /* font-variant: small-caps; */
  font-style: normal;
  font-size: 0.85em;
  text-align: right;
}

.haiku .attribution span {
  /* Adjust the size to match small caps */
  font-size: 0.75em;
}

#video-container {
  width: 75%;
  margin: 0 auto;
}

#video-container video {
  width: 100%;
  height: auto;
}

.large {
  font-size: large
}

.bigfont {
  font-size: 110%;
}

.small {
  font-size: small;
}

.complement {
  color: peru;
}

.note-color {
  color: var(--note-label-color)
}

.term {
  color: blueviolet;
}

span.green-check {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: var(--check-color);
  padding-right: 0.2em;
}

/* #content-block ul#topfeatures {
   margin-left: 3rem; 
} */

div.blue-box {
  background-color: #e7f3fd;
  padding: 1rem 1rem 0.25rem 1rem;
  margin-left: 0;
  border-radius: 12pt;
}

#content-block .example-box {
  border-left: 10px solid var(--nav-link-color);
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#content-block .note-box {
  margin: 1rem auto;
  width: fit-content;
  padding: 0.5rem 0.7rem;
  background-color: antiquewhite;
  border-radius: 10px;
}

#content-block .example-box h3 {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  font-weight: 600;
}

div.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* div.buttondiv {
  background-color: #bbd6fb;
} */

#content-block div.blue-box a:hover {
  background-color: #def0ff
}

#content-block li span.list-head {
  display: inline-block;
  font-size: large;
  color: var(--accent-color);
  padding: 0.5rem 0;
}

.strong-tags li a:first-of-type {
  font-weight: bold;
}

.large-tags li a:first-of-type {
  font-size: large;
}

.strong-tags.dash-after li:not(.nodash) > a:first-of-type::after {
  content: ' \2013';
  font-weight: normal;
  color: rgb(51,51,51);
}

#wrapboard {
  display: flex;
}

#scoreboard {
  background-color: whitesmoke;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  width: auto;
  display: inline-block;
  margin: 0 auto 2rem;
}

#wrapboard #scoreboard p {
  line-height: 1;
  margin-bottom: 0;
}

#thmchecklist th {
  text-align: left;
}

#thmchecklist td:first-child,
.question-mark,
.checkmark {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: #d8b400;
  text-align: center;
}

#thmchecklist td.done,
.checkmark {
  color: #4caf50
}

#thmchecklist tbody tr:hover {
  background-color: #bbd6fb;
  color: #0068c2;
}

#thmchecklist tbody tr[data-href]:hover {
  cursor: pointer;
}

#content-block table#thmchecklist {
  margin-bottom: 4rem;
}

/* Hide the native checkbox */
.contains-task-list input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

/* Style the custom checkbox box using ::before */
.contains-task-list label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #666;
  border-radius: 3px; /* Optional: rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-right: 0.2em;
}

/* Style the custom checkbox box when checked */
.contains-task-list label.checked::before {
  content: '✓';
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  color: var(--check-color);
  padding-right: 2px;
  border: none;
}

/* 
 * The footer block
 */
#footer-block {
  background: none;
  color: black;
  text-align: left;
  border-top: #888 1px solid;
  line-height: normal;
  padding: 1rem;
}

#footer-block a {
  color: var(--nav-link-color);
}

#footer-block div #lurch-footer {
  text-align: center;
}

#footer-block div #facebook-footer {
  text-align: right;
}

#more-contact-info {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

/* 
 * Lurch Editor styles
 */

#content-block, #content-block .example-box {

  /* Spacing */

  /* remove left padding and margins for paragraphs and list items inside shells
   * as those are handled by the shells themselves 
   */
  .Rule, .Premise, .Theorem, .Subproof, .Proof {
    p,li {
      margin: 0;
      padding: 0;
      line-height: var(--line-height);
    }
  }

  .Proof {
    margin-bottom: 0; 
    padding-bottom: 0.25rem; 
  }
  /* nested subproofs and premises */
  .Rule, .Theorem, .Premise, .Subproof, .Proof { 
    .Subproof, .Premise {
      margin: var(--nested-mar) 0;
      padding: var(--nested-pad) 0 var(--nested-pad) var(--indentation);
    }
  }
  /* we allow .m as a shorthand for .meaningful since it is used so frequently */
  .meaningful, .m {
    color: var(--math-color);
  }

  /* Environment boxes */
  .Rule, .Theorem, .Premise, .Subproof, .Proof {
    font-family: "Roboto", "Arial", Helvetica, sans-serif;
    color: var(--black-font);
    padding: 0.5rem var(--indentation);
    margin: var(--p-gap) 0;  
    border-bottom: 1px solid var(--left-border-color);
    border-left: 1px solid var(--left-border-color);
    border-top: 0.5px solid var(--left-border-color);
    border-right: 0.5px solid var(--left-border-color);
    border-radius: 6pt;
    box-shadow: -6pt 4pt 5pt -3pt var(--left-border-color);
  }
  
  /* environment background colors */
  .Rule {
    background-color: var(--rule-color);
  }
  .Theorem {
    background-color: var(--theorem-color);
  }
  .Premise {
    background-color: var(--premise-color);
  }
  .Subproof, .Proof {
    background-color: var(--page-background-color);
  }
  
  /* indent nested subproofs and premises */
  .Subproof, .Premise {
    padding-left: var(--indentation);
  }
}

/* a neat box-shadow */
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
